.Menu {
  position: relative;
  display: inline-block;
}

.Menu__List {
  position: absolute;
  z-index: 110;
  top: 100%;
  left: 0;
  right: 0;

  max-height: 50vh;
  padding: 0;
  margin: 0;
  border-top: 2px solid var(--primary);

  text-align: justify;
  list-style: none;
  background-color: black;
  color: white;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.Menu__Header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
}

.Menu__SelectedItem {
  min-width: 32px;
  text-align: right;
}

.Menu__Item {
  border-bottom: 1px solid white;
  padding: 0.75rem;
}

.Menu__Item:last-of-type {
  border: none;
}