.TopBar {
  --top-bar-row-height: 65px;
  --top-bar-title-left-padding: 10px;

  position: fixed;
  width: 100%;
  border-bottom: 2px solid white;
  background-color: black;
  color: white;
}

.TopBar__Row {
  display: flex;
  position: relative;
  width: 100%;
  height: var(--top-bar-row-height);
}

.TopBar__Section {
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
}

.TopBar__Section_align_end {
  justify-content: flex-end;
}

.TopBar__Title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  text-decoration: inherit;
  text-transform: inherit;

  padding-left: var(--top-bar-title-left-padding);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}